* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }

.shopping-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }

.inventory-container,
.cart-container {
  margin: 0px 15px 15px 15px;
  flex-grow: 1;
  padding: 12px;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgb(191, 191, 191);
  width: 40%;
}